.android {
    height: 404px;
    width: 334px;
    margin: 100px auto;
}

.head {
    width: 220px;
    height: 100px;
    border-radius: 110px 110px 0 0;
}

.android div {
    background-color: #A4CA39;
    position: relative;
}

div {
    margin: 0;
    padding: 0;
}

.android .l_eye,.android .r_eye {
    background-color: white;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    position: absolute;
    top: 42px;
}

.l_eye {
    left: 50px;
}

.r_eye {
    right: 50px;
}

div .l_ant, div .r_ant {
    width: 6px;
    height: 50px;
    position: absolute;
    top: -34px;
    border-radius: 3px;
}

.l_ant {
    left: 50px;
    transform: rotate(-30deg);
}

.r_ant {
    right: 50px;
    transform: rotate(30deg);
}

.body {
    width: 220px;
    height: 180px;
    top: 10px;
    border-radius: 0 0 25px 25px;
}

div .l_arm, div .r_arm {
    width: 50px;
    height: 140px;
    position: absolute;
    border-radius: 25px;
}

.l_arm {
    left: -60px;
}

.r_arm {
    right: -60px;
}

div .l_leg, div .r_leg {
    width: 50px;
    height: 150px;
    position: absolute;
    border-radius: 0 0 25px 25px;
    top: 110px;
}

.l_leg {
    left: 40px;
}

.r_leg {  
    right: 40px;
}

body {
    background: #2360af; /* Old browsers */
    background: -moz-linear-gradient(left, #2360af 0%, #82d8f2 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #2360af 0%,#82d8f2 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #2360af 0%,#82d8f2 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2360af', endColorstr='#82d8f2',GradientType=1 ); /* IE6-9 */
    font-family: Krub, Arial, sans-serif;
    color: tomato;
}

h1 {
    font-size: 40px;
    border-bottom: solid black 1px;
    margin: 40px auto 20px auto;
    width: 80%;
}

p {
    font-size: 20px;
    font-weight: bold;
}

nav {
    position: absolute;
    top: 0;
    width: 99%;
    border-bottom: solid gray 1px;
    height: 50px;
    margin: 0;
}

main {
    text-align: center;
    margin-top: 60px;
}

li {
    float: right;
    list-style: none;
    margin-right: 20px;
}

a {
    color: tomato
}
